#main {
    position: absolute;
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
}

#up {
    position: absolute;
    transform-origin: top;
    top: 519px;
    left: 169px;
    animation: toc 0.7s infinite alternate ease-in-out;
}

#down {
    position: absolute;
    transform-origin: bottom;
    top: 601px;
    left: 169px;
    animation: boc 0.7s infinite alternate ease-in-out;
}

@keyframes boc {
    0% {
        transform: scaleY(0.7);
    }
    100% {
        transform: scaleY(1.3);
    }
}

@keyframes toc {
    0% {
        transform: scaleY(1.3);
    }
    100% {
        transform: scaleY(0.7);
    }
}

#con1 {
    display: flex;
    /* justify-content: center; */
    background-color: white;
}

.parts {
    /* object-fit: cover; */
}

body {
    background-color: white;
    /* overflow: hidden; */
}